html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  background-color: #FFA500; /* Dopasuj kolor do tła */
  border: none;
}

.navbar-brand {
  position: absolute;
  right: 650px; /* Dostosuj odległość od lewej krawędzi */
  bottom: 50px; /* Dostosuj odległość od górnej krawędzi */
  font-size: 1.5em;
  color: white; /* Kolor tekstu */
  text-decoration: none;
}

.navbar-brand:hover {
  color: white; /* Kolor tekstu przy najechaniu */
  text-decoration: none;
}