/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: black !important;
  border: none;
  box-shadow: none;
  padding: 10px;
  background-color: #faf6f1; /* Dopasowanie tła stopki do reszty strony */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

.footer a {
  
  text-decoration: none !important;
  color: black !important;
  margin-left: 10px;
  
}

.footer span, .footer a {
  margin-right: 10px; /* Dodanie odstępów między elementami */
}

