body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFA500;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}


@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(0%);
    }
    30% {
        transform: translateY(-15%);
    }
}


@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.gold-particle {
    position: absolute;
    background-color: gold;
    width: 3px;
    height: 3px;
    opacity: 0.7;
    animation: fall 10s infinite linear;
    bottom: -10px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 200px;
    font-size: 1.5em;
    background-color: #cc8400; 
    color: white;
    text-decoration: none !important;
    border-radius: 10px; 
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #b37400;
    text-decoration: none !important;
    color: white;
}


:root {
    --particles: 50;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background-image: repeating-linear-gradient(
            0deg,
            transparent,
            transparent 1px,
            rgba(255, 215, 0, 0.4) 1px,
            rgba(255, 215, 0, 0.4) 3px
    );
    background-size: 100% calc(2px * var(--particles));
    animation: fall 10s infinite linear;
}

@keyframes fall {
    0% {
        top: -5%;
    }
    100% {
        top: 100%;
    }
}

.gold-particle {
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    opacity: 0.6;
    
}


.navbar {
    background-color: #FFA500 !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar a {
    color: #FFA500 !important;
}

.footer {
    
    background-color: #FFA500 !important; 
    
}



.footer span, .footer a {
    margin-right: 10px; 
}

