@{
    ViewData["Title"] = "Change Email";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-info">
    Please note: After changing your email, you will need to reactivate your account and relogin.
</div>

<form asp-action="ChangeEmail" method="post">
    <div class="form-group">
        <label for="newEmail">New Email:</label>
        <input type="email" name="newEmail" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Change Email" class="btn btn-warning" />
    </div>
</form>
