@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Coookie!</h1>
    <a asp-action="Options" class="btn btn-primary">Let's Start Cooking</a>
</div>