@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/home/home.css">
</head>
<body>
    <div class="container">
        <h1 id="welcome">Welcome to <span class="coookie">Coookie</span>!</h1>
        <a id="start" href="@Url.Action("Options", "Home")" class="start-button">Let's Start Cooking</a>
    </div>
    <script src="~/js/home/home.js"></script>
</body>
</html>
