@{
    ViewData["Title"] = "Options";
}

<div class="menu-container">
    <a href="@Url.Action("GuestApp", "GuestApp")" class="menu-button">Login as Guest</a>
    <a href="/User/Login" class="menu-button">Login</a>
    <a href="@Url.Action("Registration", "User")" class="menu-button">Register</a>
    <a href="@Url.Action("RecipeRanking", "RecipeRanking")" class="menu-button">Recipe ranking</a>
    <a href="@Url.Action("UserRanking", "UserRanking")" class="menu-button">User ranking</a>
</div>

<style>
    .menu-button {
        display: block;
        width: 250px; 
        padding: 20px 0; 
        margin: 20px auto; 
        font-size: 1.4em; 
        background-color: #d9a404; 
        color: white;
        text-decoration: none;
        border-radius: 20px; 
        text-align: center;
        transition: background-color 0.3s, transform 0.2s;
    }

    .menu-button:hover {
        background-color: #e6c60d; 
        transform: scale(1.05); 
        text-decoration: none !important;
        color: white;
    }
</style>
