@{
    ViewData["Title"] = "Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/home/options.css">

<div class="menu-container">
    <a href="/User/GuestApp" class="menu-button">Login as Guest</a>
    <a href="/User/Login" class="menu-button">Login</a>
    <a href="/User/Create" class="menu-button">Register</a>
    <a href="@Url.Action("RecipeRanking", "RecipeRanking")" class="menu-button">Recipe ranking</a>
    <a href="@Url.Action("UserRanking", "UserRanking")" class="menu-button">User ranking</a>
</div>
