@{
    ViewData["Title"] = "Options";
}


<div style="text-align: center; margin-top: 100px;">
    <a href="/User/GuestApp" class="btn btn-warning" style="margin: 10px; width: 200px;">Login as Guest</a>
    <a href="/User/Login" class="btn btn-warning" style="margin: 10px; width: 200px;">Login</a>
    <a href="/User/Create" class="btn btn-warning" style="margin: 10px; width: 200px;">Register</a>
</div>